:root {
  --default-tag-color: #243b53;
}

/* PAGE WRAPPER */
.imgf-page {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  padding: 0;
  position: relative;
}

/* BACK BUTTON */
.imgf-back-container {
  position: absolute;
  top: 3%;
  left:3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.imgf-back-circle {
  width: 55px;
  height: 55px;
  background: #39b6ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.imgf-back-text {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #1f3b57;
}

/* CONTAINER */
.imgf-container {
  width: 900px;
  margin: 60px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.imgf-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: bold;
}

/* LAYOUT */
.imgf-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.imgf-left {
  width: 55%;
}

.imgf-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INPUTS */
.imgf-input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* TAGS */
.imgf-tags-row {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.imgf-tag-chip {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 12px;
  color: #fff;
}

.imgf-add-tag {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* INFO BOX */
.imgf-info {
  margin-top: 20px;
  background: #eef1f4;
  padding: 15px;
  border-radius: 8px;
}

.imgf-info-title {
  font-weight: bold;
  margin-bottom: 8px;
}

/* PREVIEW */
.imgf-preview {
  width: 320px;
  height: 320px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

/* BUTTONS */
.imgf-upload-btn {
  padding: 10px 20px;
  background: #e6e6e6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.imgf-footer {
  margin-top: 35px;
  text-align: center;
}

.imgf-btn {
  padding: 12px 25px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  width: 160px;
  margin: 0 10px;
  text-align: center;
}

.imgf-btn-cancel {
  background: #e63946;
}

.imgf-btn-save {
  background: #2ecc71;
}
